{# templates/scenario #}
{% if not scenario.is_internal or allow_internal == True %}
# {{ scenario.name }}

**ID**: {{ scenario.id }}

{% if scenario.description %}
**Description**: {{ scenario.description }}
{% endif %}

{% for facet in scenario.facets %}
{%   if not components[facet].is_internal or allow_internal == True %}
## {{ components[facet].name }} <span class="dfiqIdTag">{{ facet }}</span>
{%     if components[facet].description %}
{{ components[facet].description }}
{%     endif %}

{%   for question in components[facet].questions %}
{%     if not components[question].is_internal or allow_internal == True %}
{%       if components[question].approaches|length %}
 - <a href="/questions/{{ question }}"><span class="dfiqIdTag">{{ question }}</span> &nbsp;{{ components[question].name }}</a>
{%       else %}
 - <span class="dfiqIdTag">{{ question }}</span> &nbsp;{{ components[question].name }}
{%       endif %}
{%     endif %}
{%   endfor %}
{%   endif %}
{% endfor %}
{% endif %}
